<div class="section-nine">
    <div class="container">
        <div class="title__other">
            <p class="m-0">Thuê thiết bị chỉ trong vài cú nhấp chuột</p>
        </div>
        <p class="fw-medium">Chúng tôi cố gắng tạo ra trải nghiệm cho thuê nhanh chóng và liền mạch</p>
        <div class="row gy-3">
            <div class="col-lg-4 col-12">
                <div class="section-nine__card">
                    <h1 class="card__number">01</h1>
                    <div class="card__content">
                        <h5 class="card__title">Tìm kiếm</h5>
                        <p class="card__text">Tìm kiếm thiết bị theo chủng loại, công suất mọi lúc, mọi nơi.</p>
                    </div>
                    <img src="assets/images/Frame 68 1.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="section-nine__card">
                    <h1 class="card__number">02</h1>
                    <div class="card__content">
                        <h5 class="card__title">So sánh</h5>
                        <p class="card__text">So sánh các thiết bị có sẵn, mức giá và thông số kỹ thuật.</p>
                    </div>
                    <img src="assets/images/Frame 68 1.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="section-nine__card">
                    <h1 class="card__number">03</h1>
                    <div class="card__content">
                        <h5 class="card__title">Thuê ngay</h5>
                        <p class="card__text">Đặt trước thiết bị và xác nhận đơn hàng bằng cách thanh toán.</p>
                    </div>
                    <img src="assets/images/Frame 68 1.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>