<div class="section-fifteen px-md-4 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-9">
                <div class="d-flex flex-column gap-3">
                    <img src="assets/images/CMP logo - horizon - white 1.png" alt="" width="100%">
                    <div class="about__txt">Lorem ipsum dolor sit amet consectetur. Integer enim dolor nunc
                        consequat elit nec in.
                        Commodo luctus tellus viverra aliquam ut feugiat dignissim. Odio volutpat sed laoreet
                        dignissim ornare pharetra. Elementum diam et sit hendrerit.</div>
                </div>
            </div>
            <div class="col-lg-8 col-12 d-flex justify-content-end">
                <div class="row gy-5">
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6 col-6">
                        <div class="d-flex flex-column gap-1 h-50">
                            <div class="about-title">
                                Người dùng
                            </div>
                            <div>
                                <div>FAQs</div>
                                <div>Hướng dẫn thuê</div>
                                <div>Hướng dẫn mua</div>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-1 h-50 mt-4">
                            <div class="about-title">
                                Đối tác
                            </div>
                            <div>
                                <div>FAQs</div>
                                <div>Trở thành đối tác</div>
                                <div>Hướng dẫn bán</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                        <div class="d-flex flex-column gap-1 h-50 ">
                            <div class="about-title">
                                Truy cập nhanh
                            </div>
                            <div>
                                <div>Đăng ký</div>
                                <div>Về chúng tôi</div>
                                <div>Sản phẩm</div>
                                <div>Blogs</div>
                                <div>Bảo hiểm</div>
                                <div>Điều kiện</div>
                                <div>FAQs</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-8 col-8">
                        <div class="d-flex flex-column gap-1 h-50 ">
                            <div class="about-title">
                                Liên hệ
                            </div>
                            <div>
                                <div>Lorem ipsum dolor sit amet consectetur. Vitae nulla amet sed tortor orci
                                    quis tellus.</div>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-1 h-50 mt-4 ">
                            <div class="about-title">
                                Hotline
                            </div>
                            <div>
                                <div class="fw-medium">+65-8831 8705</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="d-flex flex-column gap-1 h-50 ">
                            <div class="about-title">
                                Mạng xã hội
                            </div>
                            <div class="d-flex gap-2">
                                <img src="assets/images/X.svg" alt="">
                                <img src="assets/images/ytb.svg" alt="">
                                <img src="assets/images/in.svg" alt="">
                                <img src="assets/images/fb.svg" alt="">
                                <img src="assets/images/tiktok.svg" alt="">
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-1 h-50 mt-4 ">
                            <div class="about-title">
                                Email
                            </div>
                            <div>
                                <div class="fw-medium">info&#64;comacpro.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<footer class="text-center bg-body-tertiary py-3">
    © 2024 comacPro. Ltd. All Rights Reserved
</footer>