/* Section fifteen */
.section-fifteen {
    background-color: var(--color-three);
    padding: 30px 0;
}

.about__txt {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;
    padding-bottom: 20px;
}

.about-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 25.5px;
}


/* End section fifteen */