<header class="py-md-4 py-3">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="w-100 h-100 d-sm-flex d-none align-items-center">
                    <img src="/assets/images/logo.png" class="img-fluid" alt="logo">
                </div>
                <div class="w-100 h-100 d-flex d-sm-none align-items-center">
                    <img src="/assets/images/logo-mini.png" class="img-fluid" alt="logo">
                </div>
            </div>
            <div class="col-lg-7 col-md-1 col-1">
                <ul class="d-lg-flex d-none align-items-center h-100">
                    <li class="px-2 me-xl-2"><a class="text-title text-decoration-none fw-bold">Bán</a></li>
                    <li class="px-2 me-xl-2"><a class="text-title text-decoration-none fw-bold">Cho thuê</a></li>
                    <li class="px-2 me-xl-2"><a class="text-title text-decoration-none fw-bold">Danh mục</a></li>
                    <li class="px-2 me-xl-2"><a class="text-title text-decoration-none fw-bold">Blogs</a></li>
                    <li class="px-2 me-xl-2"><a class="text-title text-decoration-none fw-bold">FAQ</a></li>
                    <li class="px-2 me-xl-2"><a class="text-title text-decoration-none fw-bold">Về chúng tôi</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-9">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-light me-3 fw-medium">Đăng ký</button>
                    <button class="btn btn-primary fw-medium">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
</header>