<div class="section-eight">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row gy-4 pt-5">
                    <div class="col-md-3 col-4">
                        <div class="product__insurance w-100 position-relative">
                            <div class="shield-tick shield-tick--dark">
                                <img src="assets/images/shield-tick-dark.png" class="img-fluid" alt="">
                            </div>
                            <img src="assets/images/product-3.png" alt="" class="rounded img-fluid">
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="product__insurance w-100 position-relative">
                            <div class="shield-tick shield-tick--dark">
                                <img src="assets/images/shield-tick-dark.png" class="img-fluid" alt="">
                            </div>
                            <img src="assets/images/product-3.png" alt="" class="rounded img-fluid">
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="product__insurance w-100 position-relative">
                            <div class="shield-tick shield-tick--dark">
                                <img src="assets/images/shield-tick-dark.png" class="img-fluid" alt="">
                            </div>
                            <img src="assets/images/product-3.png" alt="" class="rounded img-fluid">
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="product__insurance w-100 position-relative">
                            <div class="shield-tick shield-tick--dark">
                                <img src="assets/images/shield-tick-dark.png" class="img-fluid" alt="">
                            </div>
                            <img src="assets/images/product-3.png" alt="" class="rounded img-fluid">
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="product__insurance w-100 position-relative">
                            <div class="shield-tick shield-tick--dark">
                                <img src="assets/images/shield-tick-dark.png" class="img-fluid" alt="">
                            </div>
                            <img src="assets/images/product-3.png" alt="" class="rounded img-fluid">
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="product__insurance w-100 position-relative">
                            <div class="shield-tick shield-tick--dark">
                                <img src="assets/images/shield-tick-dark.png" class="img-fluid" alt="">
                            </div>
                            <img src="assets/images/product-3.png" alt="" class="rounded img-fluid">
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="product__insurance w-100 position-relative">
                            <div class="shield-tick shield-tick--dark">
                                <img src="assets/images/shield-tick-dark.png" class="img-fluid" alt="">
                            </div>
                            <img src="assets/images/product-3.png" alt="" class="rounded img-fluid">
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="product__insurance w-100 position-relative">
                            <div class="shield-tick shield-tick--dark">
                                <img src="assets/images/shield-tick-dark.png" class="img-fluid" alt="">
                            </div>
                            <img src="assets/images/product-3.png" alt="" class="rounded img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-md-5 pt-3">
                    <div class="title__other pt-0">
                        <p class="m-0">Chúng tôi bảo hiểm cho thiết bị thuê</p>
                    </div>
                    <p class="fw-medium">Hợp tác với HongLeong Assurance, thiết bị thuê từ ComacPro được cung cấp
                        bảo hiểm miễn phí trị giá 300 triệu đồng.</p>
                    <button class="btn btn-primary fw-medium">Xem chi tiết</button>
                </div>

            </div>
        </div>
    </div>
</div>