<div class="section-ten">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <div class="title__other pt-4">
                    <p class="m-0">Kiếm thêm thu nhập với thiết bị nhàn rỗi của bạn</p>
                </div>
            </div>
            <div class="col-md-7 col-12">
                <p class="card__text pt-md-4 ">Thay vì để thiết bị của bạn không hoạt động, tại sao không để nó kiếm
                    tiền cho
                    bạn? Đăng ký và cho thuê chúng chỉ trong vài cú nhấp chuột với bảo hiểm mọi rủi ro trị giá 300
                    triệu miễn phí tại ComacPro.com!</p>
                <button class="btn btn-primary fw-medium">Đăng ký đối tác ngay</button>
            </div>
        </div>
    </div>
</div>