<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
            <div class="question">{{data.question}}</div>
            <div data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + data.id" [attr.aria-expanded]="expanded"
                (click)="changeExpand()">
                <img *ngIf="!expanded" src="assets/images/add.png" alt="">
                <img *ngIf="expanded" src="assets/images/minus.png" alt="">
            </div>
        </div>
        <div class="collapse" [id]="'collapse' + data.id">
            <div class="answer">{{data.answer}}</div>
        </div>
    </div>
</div>