<app-header></app-header>
<app-section-one></app-section-one>
<app-categories></app-categories>
<app-products-category title="Máy xúc" slug="may-xuc"></app-products-category>
<app-products-category title="Xe cẩu" slug="xe-cau"></app-products-category>
<app-products-category title="Máy làm đường" slug="may-lam-duong"></app-products-category>
<app-products-category title="Máy phát điện" slug="may-phat-dien"></app-products-category>
<app-section-seven></app-section-seven>
<app-section-eight></app-section-eight>
<app-section-nine></app-section-nine>
<app-section-ten></app-section-ten>
<app-section-eleven></app-section-eleven>
<app-section-twelve></app-section-twelve>
<app-questions></app-questions>
<app-section-fourteen></app-section-fourteen>
<app-logos></app-logos>
<app-footer></app-footer>
