<div class="section-seven">
    <div class="container">
        <div class="row section-seven__content">
            <div class="col-md-4 col-12">
                <div class="pt-3">
                    <div class="title__other">
                        <p class="m-0">Tại sao chọn chúng tôi?</p>
                    </div>
                    <p class="fw-medium">4 Giá trị chính của nền tảng cho thuê</p>
                    <div class="form-check mb-1">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label ms-3 fw-medium" for="">
                            Giá tốt nhất
                        </label>
                    </div>
                    <div class="form-check mb-1">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label ms-3 fw-medium" for="">
                            Flexible Duration
                        </label>
                    </div>
                    <div class="form-check mb-1">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label ms-3 fw-medium" for="">
                            Nhanh chóng & Dễ dàng
                        </label>
                    </div>
                    <div class="form-check mb-1">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label ms-3 fw-medium" for="">
                            Minh Bạch & Bảo mật
                        </label>
                    </div>
                    <button class="btn btn-primary fw-medium mt-3">Thuê ngay</button>
                </div>
            </div>
            <div class="col-md-4 pt-4">
                <div class="d-flex flex-column gap-4 h-100 justify-content-end">
                    <div class="section-seven__card">
                        <div class="box__icon">
                            <img src="assets/images/wallet.png" alt="">
                        </div>
                        <div>
                            <div class="box__title">Giá tốt nhất</div>
                            <div class="box__text">No more expensive prices! We help you discover the best
                                market
                                rates throughout Vietnam.</div>
                        </div>
                    </div>
                    <div class="section-seven__card">
                        <div class="box__icon">
                            <img src="assets/images/truck-fast.png" alt="">
                        </div>
                        <div>
                            <div class="box__title">Nhanh chóng & Dễ dàng</div>
                            <div class="box__text">No more sourcing and negotiating! We help you source and compare
                                quotes within a few clicks.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-4">
                <div class="d-flex flex-column gap-4 h-100 ">
                    <div class="section-seven__card">
                        <div class="box__icon">
                            <img src="assets/images/arrow.png" alt="">
                        </div>
                        <div>
                            <div class="box__title">Flexible Duration</div>
                            <div class="box__text">Rent your equipment for as short as one day for up to months
                                according to your needs.</div>
                        </div>
                    </div>
                    <div class="section-seven__card">
                        <div class="box__icon">
                            <img src="assets/images/shield-tick.png" alt="">
                        </div>
                        <div>
                            <div class="box__title">Minh bạch & Bảo mật</div>
                            <div class="box__text">Have information of all available equipment at one glance from
                                well- vetted suppliers.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>