<div class="section-eleven">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between pb-2">
            <div class="title__other p-0">
                <p class="m-0">Khách hàng nói về chúng tôi</p>
            </div>
            <div class="d-flex">
                <div class="btn__step me-3 feedback-prev">
                    <img src="assets/images/arrow-left.png" alt="">
                </div>
                <div class="btn__step feedback-next">
                    <img src="assets/images/arrow-right.png" alt="">
                </div>
            </div>
        </div>
        <p class="fw-medium me-2">Share with us your feedback to serve you better on our Google Review</p>
        <swiper-container class="swiper mySwiper-feedback" slides-per-view="3" loop="true">
            <swiper-slide *ngFor="let item of feedback">
                <div class="card__comment">
                    <div class="d-flex justify-content-between">
                        <img src="assets/images/c.png" alt="">
                        <div class="d-flex align-items-end gap-1">
                            <img *ngFor="let i of [].constructor(item.rate)" src="assets/images/Star 1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="comment">{{ item.content }}</div>
                        <div class="author">{{ item.author.name }}</div>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</div>